/* Your styles here */
body {
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  text-align: center;
}

.header {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

header {
  background-color: black;
  padding-bottom: 30px;
  padding-top: 25px;
}

header img {
  width: 150px;
}

#start {
  padding-bottom: 40px;
  padding-top: 60px;
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 2.2rem;
  margin-inline: 30px;
}

#start p {
  margin-inline: 30px;
}

button {
  background-color: #f04c2f;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: large;
  color: white;
  padding: 15px 30px;
  border-style: hidden;
  border-radius: 5px;
  margin-top: 130px;
}

button:hover {
  background-color: #da2d0f;
  transition-duration: 600ms;
}

#first {
  margin-top: 60px;
  margin-bottom: 70px;
}

#first p {
  margin-bottom: 30px;
  margin-inline: 50px;
}

#first img {
  width: 75%;
  border-radius: 50%;
  margin-bottom: 30px;
}

#testimonial {
  background-color: #e22d0e;
  padding-bottom: 50px;
  padding-top: 50px;
  color: white;
}

#testimonial h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

#testimonial > h2 + p {
  font-style: italic;
}

.cit {
  margin-top: 30px;
  font-size: 1.4em;
}

#second {
  margin-inline: 30px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.cards img {
  width: 100%;
}

.cards {
  border: #dee1e3 solid;
  margin-bottom: 30px;
}

.cards p {
  margin-bottom: 40px;
}

footer {
  background-color: #25a2c3;
  color: rgb(255, 255, 255);
  padding-bottom: 90px;
}

footer h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  padding-top: 50px;
}

footer p,
a {
  color: rgba(255, 255, 255, 0.664);
}

i {
  color: white;
}

footer > p:nth-of-type(3) {
  margin-bottom: 40px;
}

footer > p:nth-of-type(4) {
  padding-top: 40px;
  border-top: white solid;
  margin-inline: 120px;
  font-size: 1.1rem;
}
